<html>
  <head>
    <meta charset='utf-8' />
    <meta http-equiv='x-ua-compatible' content='ie=edge' />
    <title>Confirmation Email</title>
  </head>
  <body>
    <p>Hi,</p>
    <p>Thank you for sharing me jobs</p>
    <p>Here are the jobs you share to me</p>
    <ul>
      {{#each jobDetailFiles}}
        <li><a href='{{this.fileUrl}}'>{{this.fileUrl}}</a></li>
      {{/each}}
      {{#each jobDetailUrls}}
        <li><a href='{{this}}'>{{this}}</a></li>
      {{/each}}
    </ul>
  </body>
</html>
